.aligntext {
  text-align: justify;
  text-justify: auto;
}

@media (max-width: 846px) {
  .aligntext {
    text-align: left;
    text-justify: auto;
  }
}

.links {
  font-family: 'Exo 2';
  font-weight: 300;
  font-style: italic;
  color: #01b2f8;
}

.code {
  background: rgba(201, 201, 201, 0.5);
  padding: 3px;
}

.h2style {
  margin: 1.78em auto 0;
}

.h1style {
  margin: 1.8em auto 0;
}
