.aligntext {
  text-align: justify;
  text-justify: inter-word;
}

.links {
  font-family: 'Exo 2';
  font-weight: 300;
  font-style: italic;
  color: #01b2f8;
}

.code {
  background: rgba(14, 30, 37, 0.09);
  border: 2px solid transparent;
  border-radius: 4px;
  color: #0e1e25;
  font-size: 0.8em;
  padding: 0 4px;
}
